# Python Virtual Environment
.venv/
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / test caches
.pytest_cache/
.coverage
htmlcov/

# OS specific
.DS_Store
Thumbs.db
